.header-container {
    height:800px;
    width:100%;
    position:relative;
    background: url(../../../images/headerMainChairBg.png);
    background-size: cover;
}
.header-container::after{
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}