@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}
.color-primary{
  color: #1CC7C1;
}
.color-secondary{
  color: #3A4256;
}
h1, h2, h3{
  font-family: 'RocknRoll One', sans-serif;
}